
  {% load static %}
  <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'club.css' %}"/>

  <script src="https://kit.fontawesome.com/a7bcb84487.js" crossorigin="anonymous"></script>

</head>

<body>

  <nav>
    <ul>
      <div class="logo-container">
        <li class="logo-text">
      </div>
      <li class="logo"> campusconnect <span
          style="color:rgba(102, 184, 241, 0.984); font-weight: 800;margin-right: 3px;">.in</span>
        |Clubs Profile</li>
      </div>
      <button class="hamberger" id="hamburger">
        <i class="fas fa-bars"></i>

      </button>
      <div class="nav-items-container">

        <li class="nav-items"><a href="/blogs/blog.html"><i class="fa-solid fa-blog"></i>Blogs</a></li>
        <li class="nav-items is-selected-in-navbar"><a href="/Domains/domain.html"><i
              class="fa-solid fa-network-wired"></i>Domains</a> </li>
        <li class="nav-items"><i class="fa-solid fa-people-group"></i>Societies</li>
        <li class="nav-items"><i class="fa-solid fa-fire"></i>Trending</li>
        <li class="nav-items"><i class="fa-solid fa-code"></i>Projects</li>

      </div>

    </ul>
  </nav>





  <div class="profile">
    <div class="profile-head">
      <div class="profile-img">

        <img src="{% static 'spec.png' %}" width="200" alt="">
      </div>
      <div class="heading">
        <h3 class="user-name">Society for Promotion of Electronics Culture</h3>

        <div class="college-name"><b>National Institute of Technology ,Hamirpur</b> </div>
      </div>

    </div>

    <br><br><br>


    <div class="title-tags">
      <ul>

        <li><a href=""><i class="fa-solid fa-tag"></i><b>Engineering</b> </a> </li>
        <li><a href=""><i class="fa-solid fa-tag"></i><b>Blockchain</b></a> </li>
        <li><a href=""><i class="fa-solid fa-tag"></i><b>Android Development</b></a> </li>
        <li><a href=""><i class="fa-solid fa-tag"></i><b>Machine Learning</b></a> </li>
        <li><a href=""><i class="fa-solid fa-tag"></i><b>AR/VR</b></a> </li>
        <li><a href=""><i class="fa-solid fa-tag"></i><b>Web Development</b></a> </li>
      </ul>
    </div>
    <br><br>

    <div class="social-icons">
      <div class="icon">
        <a href="#"><i class="fa-solid fa-ranking-star"></i>
          <h4>#12</h4>
          <p>Rankings</p>
        </a>
      </div>

      <div class="icon active-btn">
        <a href="#"><i class="fa-solid fa-clock"></i>
          <h4>5</h4>
          <p>Ongoing</p>
        </a>
      </div>

      <div class="icon archive-btn">
        <a href="#"><i class="fa-solid fa-code-fork"></i>
          <h4>89</h4>
          <p>Conducted</p>
        </a>
      </div>

      <div class="icon">
        <a href="#"><i class="fa-solid fa-people-group"></i>
          <h4>100K+</h4>
          <p>Participants</p>
        </a>
      </div>

    </div>
    <br><br>






    <div class="tabs">
      <div class="tabs__head">
        <div class="tabs__toggle ">
          <span class="tabs__name"><i class="fa-solid fa-info"></i><br> About Us</span>
        </div>
        <div class="tabs__toggle">
          <span class="tabs__name"><i class="fa-solid fa-clock"></i><br>Active</span>
        </div>
        <div class="tabs__toggle">
          <span class="tabs__name"><i class="fa-solid fa-archive"></i><br>Archived </span>
        </div>
        <div class="tabs__toggle">
          <span class="tabs__name"><i class="fa-solid fa-code"></i><br>Projects</span>
        </div>
        <div class="tabs__toggle is-active">
          <span class="tabs__name"><i class="fa-solid fa-pen"></i><br>Blogs</span>
        </div>
        <div class="tabs__toggle">
          <span class="tabs__name"> <i class="fa-solid fa-image"></i><br>Gallery</span>
        </div>
      </div>
      <div class="tabs__body">
        <div class="tabs__content">
          <h2 class="tabs__title">About {{name}}</h2>
          <p class="tabs__text">{{college}}</p>
        </div>
        <div class="tabs__content">
          <h2 class="tabs__title">Active Events</h2>
          <p class="tabs__text">
            <span class="upcoming-events-title">
              <b class="upcoming-events-head" style="color: red; font-size: larger;">Upcoming</b>
              <br>

              <div class="upcoming-events">

                <div class="events">
                  <div class="event-info">
                    <h2 class="events-name">Electrothon 4.0</h2>
                    <a href="" id="know-more">Know More > > > </a>
                    <a href="" id="register-now">Register Now</a>
                    <div class="schedule">
                      <h3 style="color:red ;">Schedule:</h3>
                      <p>18th-20th February, 2022 </p>
                    </div>
                  </div>



                </div>
                <div class="events">
                  <div class="event-info">
                    <h2 class="events-name">SPECFEST 2.0 </h2>
                    <a href="" id="know-more">Know More > > > </a>
                    <a href="" id="register-now">Register Now</a>
                    <div class="schedule">
                      <h3 style="color:red ;">Schedule:</h3>
                      <p>18th-20th February, 2022 </p>
                    </div>
                  </div>
                </div>


                <div class="events">
                  <div class="event-info">
                    <h2 class="events-name">Electronica 2k22</h2>
                    <a href="" id="know-more">Know More> > > </a>
                    <a href="" id="register-now">Register Now</a>
                    <div class="schedule">
                      <h3 style="color:red ;">Schedule:</h3>
                      <p>18th-20th February, 2022 </p>
                    </div>

                  </div>
                </div>





              </div>
            </span>






          </p>
        </div>
        <div class="tabs__content">
          <h2 class="tabs__title">Archived Events</h2>
          <span class="upcoming-events-title">
            <b class="upcoming-events-head" style="color: red; font-size: larger;">In The Archives</b>
            <br>

            <div class="upcoming-events">

              <div class="events">
                <div class="event-info">
                  <h2 class="events-name">Electrothon 3.0</h2>
                  <a href="" id="know-more">Event Gallery > > > </a>
                  <a href="" id="register-now">Know More</a>
                  <div class="schedule">
                    <h3 style="color:red ;">Schedule:</h3>
                    <p>14th-18th February, 2021 </p>
                  </div>
                </div>



              </div>
              <div class="events">
                <div class="event-info">
                  <h2 class="events-name">SPECFEST 1.0 </h2>
                  <a href="" id="know-more">Event Gallery > > > </a>
                  <a href="" id="register-now">Know More</a>
                  <div class="schedule">
                    <h3 style="color:red ;">Schedule:</h3>
                    <p>18th-20th February, 2022 </p>
                  </div>
                </div>
              </div>


              <div class="events">
                <div class="event-info">
                  <h2 class="events-name">Electronica 2k21</h2>
                  <a href="" id="know-more">Event Gallery> > > </a>
                  <a href="" id="register-now">Know More</a>
                  <div class="schedule">
                    <h3 style="color:red ;">Schedule:</h3>
                    <p>18th-20th February, 2022 </p>
                  </div>

                </div>
              </div>





            </div>
          </span>

        </div>
        <div class="tabs__content">
          <h2 class="tabs__title">Projects</h2>
          <p class="tabs__text"> <span class="upcoming-events-title">
              <b class="upcoming-events-head" style="color: red; font-size: larger;">Machine Learning</b>
              <br>

              <div class="upcoming-events">

                <div class="events">
                  <div class="event-info">
                    <h2 class="events-name">Project 1.0 </h2>
                    <a href="" id="know-more">Project Gallery > > > </a>
                    <div class="proj-link">
                      <a href="" id="proj-links"><i class="fa-solid fa-link"></i></a>
                      <a href="" id="proj-links"><i class="fa-solid fa-code"></i></a>
                      <a href="" id="proj-links"><i class="fa-solid fa-book"></i></a>
                      <a href="" id="proj-links"><i class="fa-solid fa-people-group"></i></a>

                    </div>

                    <div class="schedule">
                      <h3 style="color:red ;">Timeline:</h3>
                      <p>18th-20th February, 2022 </p>
                    </div>
                  </div>



                </div>
                <div class="events">
                  <div class="event-info">
                    <h2 class="events-name">Project 2.0 </h2>
                    <a href="" id="know-more">Project Gallery > > > </a>
                    <div class="proj-link">
                      <a href="" id="proj-links"><i class="fa-solid fa-link"></i></a>
                      <a href="" id="proj-links"><i class="fa-solid fa-code"></i></a>
                      <a href="" id="proj-links"><i class="fa-solid fa-book"></i></a>
                      <a href="" id="proj-links"><i class="fa-solid fa-people-group"></i></a>

                    </div>
                    <div class="schedule">
                      <h3 style="color:red ;">Timeline:</h3>
                      <p>18th-20th February, 2022 </p>
                    </div>
                  </div>
                </div>


                <div class="events">
                  <div class="event-info">
                    <h2 class="events-name">Project 3.0</h2>
                    <a href="" id="know-more">Project Gallery> > > </a>
                    <div class="proj-link">
                      <a href="" id="proj-links"><i class="fa-solid fa-link"></i></a>
                      <a href="" id="proj-links"><i class="fa-solid fa-code"></i></a>
                      <a href="" id="proj-links"><i class="fa-solid fa-book"></i></a>
                      <a href="" id="proj-links"><i class="fa-solid fa-people-group"></i></a>

                    </div>
                    <div class="schedule">
                      <h3 style="color:red ;">Timeline:</h3>
                      <p>18th-20th February, 2022 </p>
                    </div>

                  </div>
                </div>





              </div>
            </span>
            <span class="upcoming-events-title">
              <b class="upcoming-events-head" style="color: red; font-size: larger;">Internet Of Things</b>
              <br>

              <div class="upcoming-events">

                <div class="events">
                  <div class="event-info">
                    <h2 class="events-name">Project 1.0 </h2>
                    <a href="" id="know-more">Project Gallery > > > </a>
                    <div class="proj-link">
                      <a href="" id="proj-links"><i class="fa-solid fa-link"></i></a>
                      <a href="" id="proj-links"><i class="fa-solid fa-code"></i></a>
                      <a href="" id="proj-links"><i class="fa-solid fa-book"></i></a>
                      <a href="" id="proj-links"><i class="fa-solid fa-people-group"></i></a>

                    </div>

                    <div class="schedule">
                      <h3 style="color:red ;">Timeline:</h3>
                      <p>18th-20th February, 2022 </p>
                    </div>
                  </div>



                </div>
                <div class="events">
                  <div class="event-info">
                    <h2 class="events-name">Project 2.0 </h2>
                    <a href="" id="know-more">Project Gallery > > > </a>
                    <div class="proj-link">
                      <a href="" id="proj-links"><i class="fa-solid fa-link"></i></a>
                      <a href="" id="proj-links"><i class="fa-solid fa-code"></i></a>
                      <a href="" id="proj-links"><i class="fa-solid fa-book"></i></a>
                      <a href="" id="proj-links"><i class="fa-solid fa-people-group"></i></a>

                    </div>
                    <div class="schedule">
                      <h3 style="color:red ;">Timeline:</h3>
                      <p>18th-20th February, 2022 </p>
                    </div>
                  </div>
                </div>


                <div class="events">
                  <div class="event-info">
                    <h2 class="events-name">Project 3.0</h2>
                    <a href="" id="know-more">Project Gallery> > > </a>
                    <div class="proj-link">
                      <a href="" id="proj-links"><i class="fa-solid fa-link"></i></a>
                      <a href="" id="proj-links"><i class="fa-solid fa-code"></i></a>
                      <a href="" id="proj-links"><i class="fa-solid fa-book"></i></a>
                      <a href="" id="proj-links"><i class="fa-solid fa-people-group"></i></a>

                    </div>
                    <div class="schedule">
                      <h3 style="color:red ;">Timeline:</h3>
                      <p>18th-20th February, 2022 </p>
                    </div>

                  </div>
                </div>





              </div>
            </span>
          </p>
          </p>
        </div>
        
        <div class="tabs__content is-active">
          <h2 class="tabs__title">Articles</h2>
          {%for i in blog%}
          <div class="blog-post">
            <div class="blog-head-topic" style="text-align:left ; color: rgb(5, 100, 122);">Artificial Intelligence
            </div>
            
            <div class="blog-heading" style="text-align:left ;">
              <a href="{%url 'blog'%}">
                <h2> {{i.title}} </h2>
              </a>
              <p class="blog-description" style="margin-bottom:20px;">
                {{i.all}}
              </p>
              <!-- <p class="blog-author" style="color:#3b8296 ;  font-weight:500;"><i class="fa-solid fa-feather"></i>Samadeep Sengupta</p> -->
              <div class="blog-tags">

                <ul style="margin-bottom:20px ; font-size: small;">
                  {%for j in tag %}
                  <li><a href=""><i class="fa-solid fa-tag"></i><b>{{j.name}}</b> </a> </li>
                  {% endfor %}


                </ul>


              </div>

            </div>
          </div>
          {%endfor%}

          
        <div class="tabs__content">
          <h2 class="tabs__title">Gallery Title</h2>
          <p class="tabs__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia quasi commodi nisi ex
            nostrum, aspernatur dicta perferendis deserunt reiciendis a delectus molestias eius porro, tempore molestiae
            ipsam sit quam aut officia, autem, perferendis?</p>
        </div>
      </div>
    </div>
    <script src="{%static 'club.js'%}"></script>
</body>
</html>