<!DOCTYPE html>
<html lang="en">
    {%load static%}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'landing.css'%}">
    <script src="https://kit.fontawesome.com/a7bcb84487.js" crossorigin="anonymous"></script>

</head>
<body>
    <nav>
    <ul>
        <div class="logo-container">
            <li class="logo-text">
        </div>
        <li class="logo"> campusconnect <span style="color:rgba(102, 184, 241, 0.984); font-weight: 800;">.in</span>
            <div class="title-name"></div><i class="fa-solid fa-network-fire logo-symbol"></i></li>
        </div>
        <button class="hamberger" id="hamburger">
            <i class="fas fa-bars"></i>

        </button>
        <div class="nav-items-container">

            <li class="nav-items"><a href="/blogs/blog.html"><i class="fa-solid fa-blog"></i>Blogs</a></li>
            <li class="nav-items"><a href=""><i
                        class="fa-solid fa-network-wired"></i>Domains</a> </li>
            <li class="nav-items"><i class="fa-solid fa-people-group"></i>Societies</li>
            <li class="nav-items is-active"><i class="fa-solid fa-fire"></i>Trending</li>
            <li class="nav-items"><i class="fa-solid fa-code"></i>Projects</li>

        </div>

    </ul>
</nav>
<section class="banner" id="banner">
    <div class="content">
        <h2>campusconnect</h2>

        <h3 style="font-size: 1.5em; font-weight: 400;">Connecting the brightest minds to Opportunities Unseen </h3>
        <br><br>
        <h3 class="aims" style="margin-bottom: 30px;">
            Inter-University Collaboration | Networking | information Integration
        </h3>

        <div class="search-section">

       <input type="text" class="input-term-search" placeholder="search to connect to societies ,ideas and like-minded inidviduals">
    
        <a href="{%url 'Result'%}" <i class="fa-solid fa-circle-arrow-right search-btn"></i></a>
        </div>
    </div>
</section>


    <script src="{%static 'landing.js'%}"></script>
</body>
</html>