<!DOCTYPE html>
<html lang="en">
<head>
  {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trending Ideas and Projects</title>
    <link rel="stylesheet" href="{%static 'trending.css'%}">
    <script src="https://kit.fontawesome.com/a7bcb84487.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <ul>
            <div class="logo-container">
                <li class="logo-text">
            </div>
            <li class="logo"> campusconnect <span style="color:rgba(102, 184, 241, 0.984); font-weight: 800;">.in</span>
                |<div class="title-name"> Trending</div><i class="fa-solid fa-network-fire logo-symbol"></i></li>
            </div>
            <button class="hamberger" id="hamburger">
                <i class="fas fa-bars"></i>

            </button>
            <div class="nav-items-container">

                <li class="nav-items"><a href="/blogs/blog.html"><i class="fa-solid fa-blog"></i>Blogs</a></li>
                <li class="nav-items"><a href="/Domains/domain.html"><i
                            class="fa-solid fa-network-wired"></i>Domains</a> </li>
                <li class="nav-items"><i class="fa-solid fa-people-group"></i>Societies</li>
                <li class="nav-items is-active"><i class="fa-solid fa-fire"></i>Trending</li>
                <li class="nav-items"><i class="fa-solid fa-code"></i>Projects</li>

            </div>

        </ul>
    </nav>

    <p class="trendingtitle" style="margin:10px;margin-bottom: 0px; color:red; font-size:20px;font-weight:400;text-align: left;padding: 30px 0px 5px 30px;">
      <i class="fa-solid fa-fire"></i>Trending <span style="font-weight:600;">Events</span> 
    </p>
    <hr>
<div class="upcoming-events">
    
  <div class="event-box">
    <div class="event-info">
      <div class="attendance">
        <i class="fa-solid fa-fire  attendance">   1</i>
      </div>
      <!-- <h2 class="events-name" style="text-align:center ;">SPECFEST 4.0 </h2> -->
     
     
      <!-- <div class="schedule">
        <h3 style="color:red ;">Schedule:</h3>
        <p>18th-20th February, 2022 </p>
      </div> -->
      <a href="https://specnith.com/specfest2k22.html" id="register-here">Register Here > </a>
    </div>

  </div>
  <div class="event-box">
    <div class="event-info">
      <div class="attendance">
        <i class="fa-solid fa-fire  attendance">   2</i>
      </div>
      
      <a href="https://specnith.com/specfest2k22.html" id="register-here">Register Here ></a>
    </div>

  </div>
  <div class="event-box">
    <div class="event-info">
      <div class="attendance">
        <i class="fa-solid fa-fire  attendance">   3</i>
      </div>
      
      <a href="https://specnith.com/specfest2k22.html" id="register-here">Register Here ></a>
    </div>

  </div>
  <div class="event-box">
    <div class="event-info">
      <div class="attendance">
        <i class="fa-solid fa-fire  attendance">   4</i>
      </div>
      
      <a href="https://specnith.com/specfest2k22.html" id="register-here">Register Here ></a>
    </div>

  </div>

        

</div>

<p class="trendingtitle" style="margin:10px;margin-bottom: 0px; color:red; font-size:20px;font-weight:400;text-align: left;padding: 30px 0px 5px 30px;">
  <i class="fa-solid fa-fire"></i>Trending <span style="font-weight:600;">Blogs</span> 
</p>
<hr>
<div class="trending-blog">
  <div class="blog-post">
    <i class="fa-solid fa-fire attendance">1</i>
    <div class="blog-head-topic" style="text-align:left ; color: rgb(5, 100, 122);">Artificial Intelligence
    </div>
    <div class="blog-heading" style="text-align:left ;">
      <a href="">
        <h2>Deep Understanding Tesla FSD Part 1: HydraNet </h2>
      </a>
      <p class="blog-description" style="margin-bottom:20px;">
        From Theory to Reality, Analyze the Evolution of Tesla Full Self-Driving
      </p>
      <!-- <p class="blog-author" style="color:#3b8296 ;  font-weight:500;"><i class="fa-solid fa-feather"></i>Samadeep Sengupta</p> -->
      <div class="blog-tags">

        <ul style="margin-bottom:20px ; font-size: small;">

          <li><a href=""><i class="fa-solid fa-tag"></i><b>Machine Learning</b> </a> </li>
          <li><a href=""><i class="fa-solid fa-tag"></i><b>AI</b> </a> </li>
          <li><a href=""><i class="fa-solid fa-tag"></i><b>SelfDriving</b> </a> </li>
          <li><a href=""><i class="fa-solid fa-tag"></i><b>Neural Networks</b> </a> </li>
          <li><a href=""><i class="fa-solid fa-tag"></i><b>OpenCV</b> </a> </li>


        </ul>


      </div>
    </div>
  </div>
  <div class="blog-post">
    <i class="fa-solid fa-fire attendance"></i>
    <div class="blog-head-topic" style="text-align:left ; color: rgb(5, 100, 122);">Intelligent Hardware</div>
    <div class="blog-heading" style="text-align:left ;">
      <a href="/blogs/blog.html">
        <h2 class="blog-title">The New Hardware Development Trend and the Challenges in Data Management and
          Analysis</h2>
      </a>
      <p class="blog-description" style="margin-bottom:20px;">
        Most Accurate analysis of date
      </p>
      <!-- <p class="blog-author" style="color:#3b8296 ;  font-weight:500;"><i class="fa-solid fa-feather"></i>Samadeep Sengupta</p> -->
      <div class="blog-tags">

        <ul style="margin-bottom:20px ; font-size: small;">

          <li><a href=""><i class="fa-solid fa-tag"></i><b>Embedded Systems</b> </a> </li>
          <li><a href=""><i class="fa-solid fa-tag"></i><b>AI</b> </a> </li>
          <li><a href=""><i class="fa-solid fa-tag"></i><b>IoT</b> </a> </li>
          <li><a href=""><i class="fa-solid fa-tag"></i><b>Intelligent Hardware</b> </a> </li>
          <li><a href=""><i class="fa-solid fa-tag"></i><b>Machine Learning</b> </a> </li>


        </ul>


      </div>
    </div>
  </div>
  <div class="blog-post">
    <div class="blog-head-topic" style="text-align:left ; color: rgb(5, 100, 122);">Intelligent Hardware</div>
    <div class="blog-heading" style="text-align:left ;">
      <a href="/blogs/blog.html">
        <h2 class="blog-title">The New Hardware Development Trend and the Challenges in Data Management and
          Analysis</h2>
      </a>
      <p class="blog-description" style="margin-bottom:20px;">
        Most Accurate analysis of date
      </p>
      <!-- <p class="blog-author" style="color:#3b8296 ;  font-weight:500;"><i class="fa-solid fa-feather"></i>Samadeep Sengupta</p> -->
      <div class="blog-tags">

        <ul style="margin-bottom:20px ; font-size: small;">

          <li><a href=""><i class="fa-solid fa-tag"></i><b>Embedded Systems</b> </a> </li>
          <li><a href=""><i class="fa-solid fa-tag"></i><b>AI</b> </a> </li>
          <li><a href=""><i class="fa-solid fa-tag"></i><b>IoT</b> </a> </li>
          <li><a href=""><i class="fa-solid fa-tag"></i><b>Intelligent Hardware</b> </a> </li>
          <li><a href=""><i class="fa-solid fa-tag"></i><b>Machine Learning</b> </a> </li>


        </ul>


      </div>
    </div>
  </div>
</div>

    <script src="{%static 'trending.js'%}"></script>
</body>
</html>