@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html{
  height:100%;
  min-width: 100vw;
  display: flex;
  justify-content: center;
}

body {
  margin-top: 0px;
  padding-right: 0px;
  border-right:2px solid black;
  min-height: 3000px;
  min-width: 100vw;

}

nav {
  margin-top: 0px;
  top: 0;
  left: 0;
  width: 100vw;
}

nav ul {
  position: relative;
  color: #f7f8f9 ;
  background-color: #073251;
  text-decoration: none;
  list-style: none;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
nav ul::-webkit-scrollbar {
  display: none;
}

.logo {
  font-weight: 500;
  font-size: x-large;
  margin-right: 0vw;
  padding: 10px;
  padding-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
}


.nav-items-container {
  display: flex;
  align-items: flex-end;
  position: absolute;
  right: 0px;
}


.nav-items {
  position: relative;
  border-radius: 8px;
  padding: 10px;
  margin: 7px;
  text-align: center;
  /* width: calc(100%/5); */
}
.nav-items a {
  text-decoration: none;
  color: aliceblue;
}

.nav-items:hover {
  cursor: pointer;
  background-color: #1285d7;
}

.hamberger{
  background-color: transparent;
  color: aliceblue;
  cursor: pointer;
  display: none;
  font-weight: 1000;
  z-index: 3;
  border: 0;
  font-size: 25px;
}

.hamberger:focus{
  outline: none;


}
.hamberger{
  position: absolute;
  right: 2rem;
  top: 29%;



}
.logo-synbol{
  display: none;
}
@media screen and (max-width:951px ){

  .logo{
    font-size: 2.7vw;
  }

  nav ul{
    height: auto;
    overflow: visible;
  }

  .nav-items-container
  {
    display: none;
  }

  .hamberger
  {
    z-index: 3;

    display: block;
  }

  .nav-items-container.show{
    
      display: flex;
      align-items: flex-end;
      padding: 1rem;
      flex-direction: column;
      align-items: flex-end;
      position: absolute;
      width: 100vw;
      border-radius: 0px 0px 19px 19px;
      text-align: justify;
      right: 0%;
      top: 53px;
      z-index: 10;
      background-color: #073251cd;

  }
  

  .nav-items{
    width: 100%;
  }

 

 
}

.is-active {
  background-color: #1285d7;
  font-weight: bolder;
}
.logo-symbol{
  display: none;
}


.container{
    padding: 10px;
}

.domain-list-container{
    height:fit-content;
    width: 90vw;
    display: grid;
    grid-auto-flow: column;
   -ms-grid-column-align: center;
   overflow-x: auto;
   grid-auto-flow: column;


}
.domain-list-container::-webkit-scrollbar{
display: none;  }

.domain-box{
    margin: 10px;
    position: relative;
    height: 198px;
    width: 237px;
    background-color: #f0f3f5;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    
}

.domain-box:hover{
    cursor: pointer;
    box-shadow: 0px 4px 5px rgba(0,0,0,.9);
    transition: 100ms;
    
}

.domain-box.is-selected{
  cursor: pointer;
  box-shadow: 0px 4px 5px rgba(0,0,0,.9);
  background-color: #073251;
  color: aliceblue;
  

}



.domain-icon{
    font-size: 50px;
    position: absolute;
    top: 15%;
}

.domain-name{
  position: absolute;
  top: 48%;
  font-size: x-large;
  font-weight: 500;
}

.domain-links{
  display: flex;
  gap: 8px;
  position: absolute;
  top: 70%;
}

.domain-links i{
  font-size: 20px;
}


#proj-links {
  width: calc(100%/3);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #073251;
  color: #cdd6dc;
  font-size: 3vw;
  height: 40px;
  width: 40px;
  align-items: center;
  box-shadow: 0px 4px 5px rgba(0,0,0,.5);


}

#proj-links:hover{
scale: 1.3;
}

.domain-links a{
  width: calc(100%/8);

}


.society-box{
  margin: 3px 5px 31px 3px ;
  width: 100%;
  border-radius: 8px;
  height: max-content;
  position: relative;
  padding: 25px;
  background-color: rgb(200, 210, 218);
  box-shadow: #050607;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}
.society-box:hover{
  box-shadow: 0px 4px 5px rgba(0,0,0,.5);
  cursor: pointer;

}


.society-box a 
{
  text-decoration: none;
  text-align: left;
  color: #083b5f;
}


.society-tags{
  text-decoration: none;

}

.society-tags ul{
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
.society-tags li{
  width:auto;
  display: flex;
  list-style: none;
  
}

.society-links{
  display: flex;
  gap: 6px;
  position: absolute;
  top: 86%;
  width: 100%;
  padding: 9px;
  
}




@media screen and (max-width:792px )
{
 .view-links b{
  display: none;
 }
 .society-description{
  display: none;
 }

 .society-links{
  position: absolute;
  top: 80%;
 }
 .logo-symbol{
  display: block;
 }

 .title-name{
  display: none;
 }


}

.society-links .view-links{
  width: calc(100%/3);
  background-color: #073251;
  text-align: center;
  color: aliceblue;
  padding: 5px;
  border-radius: 8px;

}

.college-name
{
  width: 100%;
}



/* .society-links i{
  font-size: 20px;
  
} */



